* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 14px;
  border: none;
}

/* bar */
window#waybar {
  background: transparent;
  color: #cdd6f4;
}

/* universal module style */
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-power,
#idle_inhibitor {
  background: #313244;
  padding: 0 12px;
  margin: 4px;
  border-radius: 10px;
  color: #b4befe;
  transition: 0.2s;
}

/* hover */
#clock:hover,
#battery:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#custom-media:hover,
#idle_inhibitor:hover {
  background: #a6adc8;
  color: #11111b;
}

/* workspaces */
#workspaces button {
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 8px;
  color: #cdd6f4;
}

#workspaces button.active {
  background: #b4befe;
  color: #1e1e2e;
}

/* special modules */
#custom-nixos {
  font-size: 20px;
  margin: 0 8px;
}

#custom-power:hover {
  color: #f38ba8;
}

/* battery states */
#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}
